<form action="/submitError" method="post">

    <div class="form-group">
        <label for="input">The orders</label>
        <textarea name="input" class="form-control" id="input" rows="10">{{input}}</textarea>
    </div>

    <div class="form-group">
        <label for="output">The results</label>
        <textarea name="output" class="form-control"  rows="10">{{output}}</textarea>
    </div>

    <div class="form-group">
        <label for="errorDescription">What is wrong with the results (optional)</label>
        <textarea class="form-control" id="input" rows="5"></textarea>
    </div>

    <div class="form-group">
        <label for="name">Your name (optional)</label>
        <input type="text">
    </div>

    <div class="form-group">
        <label for="address">Your email (optional)</label>
        <input type="email">
    </div>

    <p>Thanks for taking the time to submit this error</p>

    <button class="btn btn-primary">Submit error</button>
</form>