<form action="/result" method="POST">
    <select>
        <option value="AEG">The Aegean => AEG</option>
        <option value="Ank">Ankera => Ank</option>
        <option value="Apu">Apulia => Apu</option>
        <option value="Arm">Armenia => Arm</option>
        <option value="BAL">The Baltic Sea => BAL</option>
        <option value="BAR">The Barents Sea => BAR</option>
        <option value="Bel">Belgium => Bel</option>
        <option value="Ber">Berlin => Ber</option>
        <option value="BLA">The Black Sea => BLA</option>
        <option value="Boh">Bohemia => Boh</option>
        <option value="Bre">Brest => Bre</option>
        <option value="Bud">Budapest => Bud</option>
        <option value="Bul">Bulgaria => Bul</option>
        <option value="Bul(nc)">Bulgaria, north coast => Bul(nc)</option>
        <option value="Bul(sc)">Bulgaria, south coast => Bul(sc)</option>
        <option value="Bur">Burgandy => Bur</option>
        <option value="Cly">Clyde => Cly</option>
        <option value="Con">Constantinople => Con</option>
        <option value="Den">Denmark => Den</option>
        <option value="Edi">Edinburgh => Edi</option>
        <option value="EMS">The Eastern Mediteranean => EMS</option>
        <option value="ENG">The English Channel => ENG</option>
        <option value="Fin">Finland => Fin</option>
        <option value="Gas">Gascony => Gas</option>
        <option value="Gal">Galicia => Gal</option>
        <option value="GoB">The Gulf of Bothnia => GoB</option>
        <option value="GoL">The Gulf of Lyon => GoL</option>
        <option value="Gre">Greece => Gre</option>
        <option value="HEL">The Heligoland Bight => HEL</option>
        <option value="Hol">Holland => Hol</option>
        <option value="ION">The Ionian Sea => ION</option>
        <option value="IRI">The Irish Sea => IRI</option>
        <option value="Kie">Kiel => Kie</option>
        <option value="Lon">London => Lon</option>
        <option value="Lvn">Livonia => Lvn</option>
        <option value="Lpl">Liverpool => Lpl</option>
        <option value="MAO">The Mid Atlantic Ocean => MAO</option>
        <option value="Mar">Marseilles => Mar</option>
        <option value="Mos">Moscow => Mos</option>
        <option value="Mun">Munich => Mun</option>
        <option value="NAf">North Africa => NAf</option>
        <option value="NAO">The north Atlantic Ocean => NAO</option>
        <option value="Nap">Naples => Nap</option>
        <option value="NTH">The North Sea => NTH</option>
        <option value="NWG">The Norwegian Sea => NWG</option>
        <option value="Nwy">Norway => Nwy</option>
        <option value="Par">Paris => Par</option>
        <option value="Pic">picardy => Pic</option>
        <option value="Pie">Piedmont => Pie</option>
        <option value="Por">Portugal => Por</option>
        <option value="Pru">Prussia => Pru</option>
        <option value="Rom">Rom => Rom</option>
        <option value="Ruh">Ruhr => Ruh</option>
        <option value="Rum">Rumania => Rum</option>
        <option value="Sev">Sevastapol => Sev</option>
        <option value="Sil">Silesia => Sil</option>
        <option value="SKA">Skagerak => SKA</option>
        <option value="Smy">Smyrna => Smy</option>
        <option value="Spa">Spain => Spa</option>
        <option value="Spa(nc)">Spain (north coast) => Spa(nc)</option>
        <option value="Spa(sc)">Spain (south coast) => Spa(sc)</option>
        <option value="StP">Saint Petersburg => StP</option>
        <option value="StP(nc)">Saint Petersburg (north coast) => StP(nc)</option>
        <option value="StP(sc)">Saint Petersburg (south coast) => StP(sc)</option>
        <option value="Swe">Sweden => Swe</option>
        <option value="Syr">Syria => Syr</option>
        <option value="Tri">Trieste => Tri</option>
        <option value="Tun">Tunis => Tun</option>
        <option value="Tus">Tuscany => Tus</option>
        <option value="Tyr">Inland => Tyr</option>
        <option value="TYS">The Tyrrhenian Sea => TYS</option>
        <option value="Ukr">Ukraine => Ukr</option>
        <option value="Ven">Venice => Ven</option>
        <option value="Vie">Vienna => Vie</option>
        <option value="Wal">Wales => Wal</option>
        <option value="War">Warsaw => War</option>
        <option value="WMS">The Western Mediteranean => WMS</option>
        <option value="Yor">Yorkshire => Yor</option>

    </select>

    <select name="" id="">
        <option value="">Hold => A Lon h</option>
        <option value="">Move => F Lon - ENG</option>
        <option value="">Support hold => A Bre s Par h</option>
    </select>
    <div class="form-group">
        <label for="input">Enter you orders</label>
        <textarea name="input" class="form-control" id="input" rows="10"></textarea>
    </div>

    <div class="text-center">
        <button id="submit-orders" class="btn btn-primary">Process the above orders</button>
    </div>

    <div class="form-group">
        <label for="output">Results</label>
        <textarea class="form-control" id="output" rows="10"></textarea>
    </div>

    <p>If there is something wrong with the results it would be very helpful if you submitted the error</p>

    <button type="submit" hrefclass="btn btn-warning">Submit error</button>


</form>





